annotated-types==0.7.0
anyio==4.12.0
attrs==25.4.0
beautifulsoup4==4.14.3
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
colorama==0.4.6
distro==1.9.0
h11==0.16.0
html2text==2025.4.15
httpcore==1.0.9
httpx==0.28.1
idna==3.11
jiter==0.12.0
keyboard==0.13.5
langdetect==1.0.9
mouse==0.7.1
openai==2.13.0
outcome==1.3.0.post0
psutil==7.1.3
pycountry==24.6.1
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
PySocks==1.7.1
pywin32==311
requests==2.32.5
selenium==4.39.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8
tqdm==4.67.1
trio==0.32.0
trio-websocket==0.12.2
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.2
websocket-client==1.9.0
winhotkeys @ git+https://github.com/BenjaminKobjolke/winhotkeys.git@053b0b20bd5d747a4b795d0d392a4a48161fcada
wsproto==1.3.2
